#home {
  padding-top: 50px;
  background-color: lightgrey;
}

#myCarousel {
  display: block;
  width: 98%;
}

#story h2 {
  font-weight: bold;
  color: white;
  font-size: 34px;
}

#button {
  align-items: center;
}

footer {
  background-color: #101010;
  width: 100%;
}

footer p {
  padding: 2px;
  text-align: center;
  color: darkgrey;
}
