/* Styling for the hole page */
body {
  position: relative;
  color: #454e59;
  font-family: "avenir next", Arial, sans-serif !important;
}

text {
  color: #454e59;
}

/* styling for the first section */
#thelist {
  padding-top:50px;
  height:100%;
  color: #fff;
  background-color: lightgrey;
}

#thelist h1 {
  color: white;
  text-shadow: 3px 2px darkgrey;
  font-family: "avenir next", Arial, sans-serif;
  text-align: center;
}

#thelist #helptip1 {
  right: 450px;
  top: 79px;
  z-index: 4;
}

#thelist h2 {
  color: white;
  text-shadow: 3px 2px darkgrey;
  font-family: "avenir next", Arial, sans-serif;
}

#titel {
  margin: 20px;
  margin-top: 50px;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
  background-color: #fff;
}

/* styling for the tabel in the left uppercorner */
#tabel {
  padding: 0px;
  padding-left: 30px;
  padding-right: 0px;
  text-align: center;
}

#tabel .divtable {
  padding: 20px;
  background-color: #fff;
  color: black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}

#tabel .divtable table {
  margin: auto;
  display: block;
  height: 361px;
  overflow-y: scroll;
  width: auto;
  table-layout: fixed;
}

#tabel .divtable table thead tr th {
  width: 25%;
}

/* styling for the piechart in the right uppercorner */
#piechart {
  padding: 0px;
  background-color: inherit;
  text-align: center;
}

#piechart .piechart {
  background-color: #fff;
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}

#piechart .piechart polyline {
	opacity: .3;
	stroke: black;
	stroke-width: 2px;
	fill: none;
}

/* styling for the buble chart in the left bottom corner */
#bubblechart {
  text-align: center;
  padding: 0px;
  padding-top: 0px;
  padding-left: 0px;
  background-color: inherit;
}

#bubblechart #bubbleblock {
  /* weird padding due to the use of diameter in js */
  padding-top: 5px;
  padding-left: 30px;
  background-color: #fff;
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}

#barchart {
  text-align: center;
  padding: 20px;
  padding-top: 0px;
  padding-left: 0px;
  background-color: inherit;
}

#barchart .help-tip {
  right: 265px;
}

#barchart .barchart {
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}

#barchart .barchart g .bars rect {
  fill: rgb(42, 98, 143);
}

#barchart .barchart g .bars rect:hover {
  opacity: 1.0;
}

#barchart .barchart g .x-axis {
  color: darkgrey;
}

#barchart .barchart g .x-axis .tick text {
  color: black;
  font-size: 12px;
  font-family: "avenir next", Arial, sans-serif;
}

#barchart .barchart g .y-axis {
  color: darkgrey;
}

#barchart .barchart g .y-axis .tick text {
  color: black;
  font-size: 14px;
  font-family: "avenir next", Arial, sans-serif;
}


#theartist {
  padding-top:50px;
  height:100%;
  color: black;
  background-color: dimgray;
  padding-bottom: 20px;
}

#theartist h1 {
  color: white;
  text-shadow: 0.5px 1px #a9a9a9;
  font-family: "avenir next", Arial, sans-serif;
  text-align: center;
}

#theartist h3 {
  color: white;
  text-shadow: 0.5px 1px #a9a9a9;
  font-family: "avenir next", Arial, sans-serif;
  text-align: center;
}

#tabelTitels {
  padding: 5px;
  padding-left: 40px;
  padding-right: 0px;
  text-align: center;
}

#tabelTitels .divtable {
  padding: 20px;
  background-color: #fff;
  color: black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
  width: 580px;
}

#tabelTitels .divtable table {
  margin: auto;
  display: block;
  height: 195px;
  overflow-y: scroll;
  width: auto;
  table-layout: fixed;
}

#tabelTitels .divtable table thead tr th {
  width: 95%;
}

#linecharts .x-axis {
  font-size: 13.5px;
  color: darkgrey;
}

#linecharts .y-axis {
  font-size: 13.5px;
  color: darkgrey;
}

#bestsong {
  padding: 5px;
  background-color: inherit;
  text-align: center;
}

#bestsong .linechartbestsong {
  background-color: #fff;
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}

#meansong {
  padding: 5px;
  background-color: inherit;
  text-align: center;
}

#meansong .linechartmeansong {
  background-color: #fff;
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}

#worstsong {
  padding: 5px;
  background-color: inherit;
  text-align: center;
}

#worstsong .linechartworstsong {
  background-color: #fff;
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}

#linecharts .line {
  fill: none;
  stroke: rgb(42, 98, 143);
  stroke-width: 3px;
}

#linecharts .overlay {
  fill: none;
  pointer-events: all;
}

#linecharts .dots circle {
  fill: rgb(42, 98, 143);
}

#barchart2 {
  padding: 5px;
  background-color: inherit;
  text-align: center;
}

#barchart2 .barchart2 {
  background-color: #fff;
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}

#barchart2 .barchart2 rect {
  fill: rgb(42, 98, 143);
}

#barchart2 .barchart2 #labelsbarchart2 text {
  fill: white !important;
  text-anchor: end;
}

#barchart2 .barchart2 .x-axis {
  font-size: 15px;
  color: darkgrey;
}

#barchart2 .barchart2 .y-axis {
  font-size: 13px;
  color: darkgrey;
}

footer {
  background-color: #101010;
}
footer p {
  padding: 2px;
  text-align: center;
  color: lightgrey;
}


/* CSS for the searchbar */

.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
  margin: 0px;
}
input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 0px;
  font-size: 16px;
}
input[type=text] {
  background-color: #f1f1f1;
  width: 100%;
}
input[type=submit] {
  background-color: DodgerBlue;
  color: #fff;
}
.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}










/* Tooltip CSS */
.d3-tip {
line-height: 1.5;
font-weight: 400;
font-family:"avenir next", Arial, sans-serif;
padding: 6px;
background: rgba(0, 0, 0, 0.75);
color: white;
border-radius: 1px;
pointer-events: none;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 8px;
  width: 100%;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.6);
  position: absolute;
  pointer-events: none;

}

/* Northward tooltips */
.d3-tip.n:after {
  content: "\25BC";
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
  text-align: center;
}

/* Eastward tooltips */
.d3-tip.e:after {
  content: "\25C0";
  margin: -4px 0 0 0;
  top: 50%;
  left: -8px;
}

/* Southward tooltips */
.d3-tip.s:after {
  content: "\25B2";
  margin: 0 0 1px 0;
  top: -8px;
  left: 0;
  text-align: center;
}

/* Westward tooltips */
.d3-tip.w:after {
  content: "\25B6";
  margin: -4px 0 0 -1px;
  top: 50%;
  left: 100%;
}

text{
  pointer-events:none;
}

.details{
  color:white;
}

/* CSS for the help-tip */

.help-tip{
    position: absolute;
    top: 26px;
    right: 135px;
    text-align: center;
    background-color: darkgrey;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    font-size: 14px;
    line-height: 26px;
    cursor: default;
}

.help-tip:before{
    content:'?';
    font-weight: bold;
    color:#fff;
}

.help-tip:hover p{
    display:block;
    transform-origin: 100% 0%;

    -webkit-animation: fadeIn 0.3s ease-in-out;
    animation: fadeIn 0.3s ease-in-out;

}

.help-tip p{    /* The tooltip */
    display: none;
    text-align: left;
    background-color: #1E2021;
    padding: 20px;
    width: 300px;
    position: absolute;
    border-radius: 3px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    right: -4px;
    color: #FFF;
    font-size: 13px;
    line-height: 1.4;
}

.help-tip p:before{ /* The pointer of the tooltip */
    position: absolute;
    content: '';
    width:0;
    height: 0;
    border:6px solid transparent;
    border-bottom-color:#1E2021;
    right:10px;
    top:-12px;
}

.help-tip p:after{ /* Prevents the tooltip from being hidden */
    width:100%;
    height:40px;
    content:'';
    position: absolute;
    top:-40px;
    left:0;
}

/* CSS animation */

@-webkit-keyframes fadeIn {
    0% {
        opacity:0;
        transform: scale(0.6);
    }

    100% {
        opacity:100%;
        transform: scale(1);
    }
}

@keyframes fadeIn {
    0% { opacity:0; }
    100% { opacity:100%; }
}
