#bronnen {
  text-align: center;
}

#home {
  padding: 50px;

}

footer {
  background-color: inherit;
  width: 100%;
  height: 100%;
}

footer p {
  padding: 2px;
  text-align: center;
  color: darkgrey;
}
